/*定义全局css*/
body {

	/* 紫色 */
    /* 1 全局公共主颜色 */
    --publicMainColor:  #B24592;
    /* 1 全局公共副颜色 */
    --publicSubColor: #E57498;

}


/* 导航栏开始*/
/*导航栏结束*/

/*腰线开始*/
/*腰线结束*/


/*home页面数据样式 开始*/
	/*home页面数据样式 普通数据样式 开始*/
.project-sec .item {
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}
.project-sec .item .project-thumb{
	position: relative;
	transition: all 0.4s ease-in-out 0s;overflow: hidden;
}
.project-sec .item:hover .project-hoverlay{visibility:visible;opacity:1;transform: scale(1);}
.project-hoverlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(174, 174, 174, 0.5);
	transition: all 0.4s ease-in-out 0s;
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
}
.project-sec .item:hover h2{background: #242424;}
.project-sec .item h2{
	background: var(--publicMainColor,orange) none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.project-sec .item  h2 {
	margin-bottom: 0;
}
.project-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.project-text  h3 {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.project-sec .item img {
	width: 100%;
}
	/*home页面数据样式 普通数据样式 结束*/
/*home页面数据样式 结束*/

/*list页面数据样式 开始*/
	/*list页面数据样式 普通数据样式 开始*/
.list-grid h4 {
	font-size: 1.5em;
	color: #93a804;
	margin: 1em 0 0.5em;
	font-weight: 600;
}
.list-grid p {
	font-size: 15px;
	color: #999;
	line-height: 28px;
}
.list-img{
	position:relative;
	overflow: hidden;
}
.list-img .textbox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color:rgba(239, 209, 47, 0.65);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.textbox {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align:center;
}
.list-img:hover .textbox {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
	/*list页面数据样式 普通数据样式 结束*/
/*list页面数据样式 结束*/

/* 轮播图 */
.layui-carousel[lay-indicator=outside] .layui-carousel-ind ul {
	background-color: #FFFFFF;
}

.layui-carousel-ind li.layui-this {
	background-color:   var(--publicMainColor,orange);
}

.layui-carousel-ind li {
	background-color: #E0E0E0;
}

.layui-carousel-ind li:hover {
	background-color: #E0E0E0;
}
/* 首页标题 */
.index-title {
	color:   var(--publicMainColor,orange);
}

/* 首页新闻 */
.news-home-container {
	background: #e5e5e5;
}

.news-home-container .layui-colla-item {
	border: 1px solid #EEEEEE;
}

.news-home-container .layui-colla-content {
	background: #FFFFFF;
}

.news-home-container .layui-colla-title {
	background: #d1d1d1;
	border: 1px solid #EEEEEE;
	color: #515151;
}

.news-home-container .layui-colla-title:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.news-home-container .layui-card-header {
	background: #d1d1d1;
	border: 1px solid #FFFFFF;
	color: #515151;
}

/* 图文列表 */
.data-container:nth-child(odd) {
	background-color: #F3F3F3;
}

.data-container .data-list .data-item:hover {
	border: 2px dashed   var(--publicMainColor,orange);
}

.data-container .data-list .data-item .title:hover {
	color: #FFFFFF;
	background:   var(--publicMainColor,orange);
}


.data-container .data-list .data-item .title {
	background: #f0f0f0;
	color:   var(--publicMainColor,orange);
}

.data-container .data-list .data-item .price {
	color:   var(--publicMainColor,orange);
}

/* 详情页 */
.data-detail {
	background: #FFFFFF;
}

.data-detail-breadcrumb {
	background: #EEEEEE;
	color: #515151;
}

.data-detail .title {
	color: #515151;
	border: 3px dotted #EEEEEE;
}

.data-detail .count-container {
	color: #FFFFFF;
}

.data-detail .count-container .number {
	background: #443b3b;
}

.data-detail .tool-container{
	border: 3px dotted #EEEEEE;
}

.data-detail .price{
	color:   var(--publicMainColor,orange);
}


.layui-tab-card>.layui-tab-title .layui-this {
    background-color:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 底部导航栏 */
.nav-bottom {
	background:   var(--publicMainColor,orange);
}

.nav-bottom .layui-nav-item a {
	color: #FFFFFF;
}

/* banner */
.banner {
	background:   var(--publicMainColor,orange);
}

/* 新闻资讯 */
.news-container .news-list .news-item .detail-container .h2 {
	color: #4e6990;
}

.news-container .news-list .news-item .detail-container .desc {
	color: #515151;
}

.news-container .news-list .news-item .detail-container .create-time {
	color: #515151;
}

.news-container .title {
	color:   var(--publicMainColor,orange);
}


.news-container .bottom-container .btn {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 论坛 */

.forum-container .bottom-container .btn {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.forum-container .forum-list .forum-item:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

.forum-container .forum-list .forum-item.line:hover {
	background:   var(--publicMainColor,orange);
	color: #FFFFFF;
}

/* 考试 */
.paper-container thead tr{
	background:   var(--publicMainColor,orange) ;
	color: #FFFFFF;
}

.paper-container tbody tr:hover{
	color: #FFFFFF;
	background-color:   var(--publicMainColor,orange);
}

/* 个人中心 */

.center-container  .layui-nav .layui-nav-more {
    border-color: #515151 transparent transparent;
}

.center-container .layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #515151 !important;
}

.center-container  .layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent #515151;
}

.center-container .layui-nav {
    background-color: #009688;
    color: #515151;
}

.center-container .layui-nav-itemed>.layui-nav-child {
    background-color: #FFFFFF !important;
}

.center-container .layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color:   var(--publicMainColor,orange);
}

/* 分页插件 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color:   var(--publicMainColor,orange);
}

.layui-laypage a:hover {
	color:   var(--publicMainColor,orange);
}

.btn-submit {
	background:   var(--publicMainColor,orange);
}

.btn-theme{
	background:   var(--publicMainColor,orange);
}


/* checkbox */
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color:   var(--publicMainColor,orange);
}

.layui-form-select dl dd.layui-this {
    background-color:   var(--publicMainColor,orange);
    color: #fff;
}

layui-tab-title .layui-this {
    color:   var(--publicMainColor,orange);
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid   var(--publicMainColor,orange);
}